.worker-card span
{
    width: 20%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 16px;
}

.worker-card span:first-child
{
    width: 50%;
}

.worker-card .row .row .role
{
    color: var(--text-color-secondary);
}

.remove
{
    width: fit-content !important;
    border: 1px solid var(--danger-color) !important;
    padding: 5px 12px !important;
    padding-bottom: 8px !important;
    line-height: 14px !important;
    text-align: center;
    border-radius: 6px;
    color: var(--danger-color);
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    float: right;
}