.c-sticky-bar
{
    background-color: var(--background);
    margin-top: 24px;
    border-bottom: 1px solid var(--border-color);
    height: 48px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    white-space: nowrap;
}

.c-sticky-bar .row > div > div
{
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    margin: 0 auto;
}

.c-sticky-bar .row > div > div > div,
.c-sticky-bar .row > div > div > a
{
    display: inline-block;
    box-sizing: content-box;
    padding: 8px 16px;
    height: 30px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-color-secondary);
    border-bottom: 2px solid transparent;
}

.c-sticky-bar .row > div > div > div:hover,
.c-sticky-bar .row > div > div > a:hover
{
    color: #c9d1d9;
    border-color: #6e7681;
}